* {
    box-sizing: border-box;
}
.cajauno {
    height: 70px;
    background-color: rgb(8, 24, 240);
    border: 2px solid white;
}
.cajados {
    height: 1000px;
    background-color: rgb(11, 100, 116);
    border: 2px solid white;
}
.cajatres {
    height: 1000px;
    background-color: rgb(121, 155, 219);
    border: 2px solid white;
}
.cajacuatro {
    height: 70px;
    background-color: rgb(132, 173, 221);
    border: 2px solid white;
}
.cajacinco {
    height: 800px;
    background-color: rgb(58, 64, 78);
    border: 2px solid white;
}
.cajasiete {
    height: 800px;
    background-color: rgb(3, 178, 209);
    border: 2px solid white;
}
.cajaocho {
    height: 800px;
    background-color: rgb(89, 95, 172);
    border: 2px solid white;
}
.cajaseis {
    height: 800px;
}
/*PARA OCULTAR CAJA ROSADA*/
@media (min-width: 1100px) and (max-width: 1400px) {
    .cajasiete {
        display: none;
    }
  }
  /*PARA OCULTAR CAJA ROSADA*/
@media (min-width: 1100px) and (max-width: 1400px) {
    .cajaocho {
        display: none;
    }
  }
  